.companies-of-all,
.customers-by-size {
  position: absolute;
  left: calc(50% - 202.2px);
  display: inline-block;
}
.companies-of-all {
  top: 41.9px;
  font-size: 14.3px;
  line-height: 140%;
  color: var(--grayscale-900);
  width: 232.3px;
  height: 40.1px;
}
.customers-by-size {
  top: 29px;
  letter-spacing: 0.29px;
  line-height: 170%;
  text-transform: uppercase;
  font-weight: 600;
  width: 54.1px;
  height: 8.6px;
}
.button37 {
  position: relative;
  line-height: 8.6px;
  font-weight: 500;
}
.longarrow-right-icon5 {
  position: relative;
  width: 7.2px;
  height: 7.2px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.button36 {
  position: absolute;
  top: 90.7px;
  left: 167px;
  border-radius: 2.15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2.867725372314453px 8.60317611694336px;
  gap: 2.87px;
}
.startup1 {
  position: relative;
  line-height: 180%;
  font-weight: 600;
}
.pill {
  border-radius: 35.85px;
  height: 14.3px;
  align-items: center;
  justify-content: center;
  padding: 2.867725372314453px 7.169313430786133px;
  box-sizing: border-box;
}
.pill,
.pill-parent,
.pill1 {
  display: flex;
  flex-direction: row;
}
.pill1 {
  border-radius: 35.85px;
  background-color: var(--indigo-500);
  height: 14.3px;
  align-items: center;
  justify-content: center;
  padding: 2.867725372314453px 7.169313430786133px;
  box-sizing: border-box;
  color: var(--black-white-white);
}
.pill-parent {
  position: absolute;
  top: 90.7px;
  left: 55.9px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.43px;
  color: var(--grayscale-900);
}
.k,
.processor-for-all {
  position: absolute;
  top: 123.7px;
  left: 55.9px;
  font-size: var(--font-size-5xs-2);
  line-height: 140%;
  display: inline-block;
  width: 19px;
  height: 10px;
}
.processor-for-all {
  top: 138px;
  font-size: var(--font-size-7xs-7);
  line-height: 180%;
  color: var(--grayscale-900);
  width: 90.3px;
  height: 20.8px;
}
.weeks {
  top: 176px;
  font-size: var(--font-size-5xs-2);
  line-height: 140%;
  width: 29.4px;
  height: 10px;
}
.deployment-to-15,
.product-used,
.weeks {
  position: absolute;
  left: 55.9px;
  display: inline-block;
}
.deployment-to-15 {
  top: 190.3px;
  font-size: var(--font-size-7xs-7);
  line-height: 180%;
  color: var(--grayscale-900);
  width: 87.5px;
  height: 10.4px;
}
.product-used {
  top: 217.9px;
  font-size: var(--font-size-5xs-2);
  line-height: 140%;
  width: 48.8px;
  height: 10px;
}
.payments {
  position: relative;
  line-height: 180%;
  display: inline-block;
  width: 73.8px;
  height: 9px;
  flex-shrink: 0;
}
.user-interface-bank-cards-group {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5.02px;
}
.user-interface-megaphone {
  position: relative;
  width: 8.6px;
  height: 8.6px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.frame-parent4 {
  position: absolute;
  top: 233.7px;
  left: 55.9px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5.74px;
  color: var(--grayscale-900-opacity-56);
}
.discord-1-icon {
  position: relative;
  width: 45.9px;
  height: 9.3px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.design-is-a {
  margin: 0;
}
.design-is-a-container {
  align-self: stretch;
  position: relative;
  line-height: 140%;
  display: inline-block;
  height: 24.4px;
  flex-shrink: 0;
}
.discord-1-parent {
  position: absolute;
  top: 123.7px;
  left: 159.2px;
  border-radius: 5.74px;
  width: 301.1px;
  height: 169.6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 11.470901489257812px;
  box-sizing: border-box;
  background-image: url(/public/frame-11@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  font-size: 8.6px;
  color: var(--black-white-white);
}
.stats-2 {
  border-radius: 20.27px;
  background-color: var(--black-white-white);
  width: 516.2px;
  height: 322.6px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-8xs);
  color: var(--indigo-500);
  font-family: var(--body-sm);
}
